.card
    box-sizing: border-box
    width: 100%
    padding: 25px 30px
    background-color: #eee
    border: 1px solid #888

.title
    margin: 0 0 40px
    font-family: sans-serif
    width: 100%    
    font-size: 30px !important
    &__enabled
        @extend .title
        color: black
    &__disabled
        @extend .title        
        background: transparent !important
        color: white !important
        border: none !important
    @media (max-width: 575px)
        font-size: 24px !important

@mixin button()
    display: inline-block
    padding: 10px 20px
    border-radius: 0
    border: 0
    margin-right: 20px
    font-size: 1rem
    &:last-child
        margin-right: 0

.completeBtn
    @include button()    
    color: #fff

.deleteBtn
    @include button()
    background-color: #a00
    color: #fff

